.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  text-align: center;
  /* background-color: #FBF9EE; */
}

.App-logo {
  height: 80%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex: 1;
  margin: 1rem 1rem 0;
  border-radius: 1rem;
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
